.snack-box {
  height: 250px;
  width: 300px;
  background-color: white;
  filter: drop-shadow(1px 1px 5px black);
  margin-bottom: 80px;
}

@media screen and (max-width: 980px) {
  .snack-box {
    height: 200px;
    width: 250px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .snack-box {
    height: 200px;
    width: 250px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 570px) {
  .snack-box {
    height: 150px;
    width: 200px;
    margin-bottom: 80px;
  }
}

.vote-corner {
  float: right;
  width: 35px;
  height: 35px;
  background: linear-gradient(to top right, white 50%, rgb(72, 167, 255) 50%);
  color: white;
  margin: 5px;
}

.vote-number {
  text-align: right;
  padding: 3px;
  font-size: 12px;
}

.img-container {
  width: 100%;
  height: 100%;
  background-color: white;


}

.img-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  height: auto;
  width: 70%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.snack-info {
  padding-top: 10px;
}

.info {
  color: white;
  padding: 0;
  line-height: 1.3;
}

.top {
  font-size: 16px;
}

.bottom {
  font-size: 14px;
}